@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#06202A] text-gray-300 overflow-y-scroll
  }
}

::-webkit-scrollbar {
  display: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background: rgba(0, 0, 0, 0.85) !important;
}

/* .ReactModal__Content.ReactModal__Content--after-open {
  background: #06202ABF;
  transition: color 0.2s ease;
} */

div.image-container {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  overflow: hidden;
}

div.image-container > div {
  position: absolute;
  top: -16.75%;
  bottom: -16.75%;
  left: 0;
  right: 0;
}

div.iframe-container {
  width: 100%;
  padding-bottom: 51%;
  position: relative;
  overflow: hidden;
}

div.iframe-container > div {
  position: absolute;
  top: -14%;
  bottom: -5%;
  left: 0;
  right: 0;
}